<!DOCTYPE html>

{% set app_title = 'Push<->Pull' %}

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{app_title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style type="text/css">
        .table td {
            vertical-align: middle;
        }
        .table th {
            vertical-align: middle;
        }
        .subtitle {
          font-weight: bold;
        }
        .link {
          text-decoration: underline;
        }
        .link:hover {
          color: rgb(229, 229, 229) !important;
        }
    </style>
  </head>
  <body>
    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Update your bookmarks
          </p>
          <p class="subtitle">
            Push&lt;-&gt;Pull has moved to
            <a
              class="link"
              href="https://pushpull.mmcallister.me"
            >
              https://pushpull.mmcallister.me
            </a>
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
