{% extends 'base.html' %}

{% block title %}
  {{current_teacher.name}} - {{format_block_time(block)}}
{% endblock %}

{# Strikes out text if the student is leaving this classroom #}
{% macro strike_outgoing(text, student, request) %}
  {% if request and request.destination_teacher != current_teacher %}
    <s>{{text}}</s>
  {% else %}
    {{text}}
  {% endif %}
{% endmacro %}

{% macro format_block_time(block) %}
  {{block.start_time|utc_to_local('%A, %d %B, %I:%M%p')}}
{% endmacro %}

{% block body %}
  <section class="section">
    <div class="container">
      {% if alert %}
        <div class="notification is-{{status}} is-light"><p>{{alert}}</p></div>
      {% endif %}
      <h1 class="title is-3">{{current_teacher.name}}'s homeroom</h1>
      <div class="tabs">
        <ul>
          {% for b in blocks %}
            <li {% if b == block %}class="is-active"{% endif %}>
              <a href="{{url_for('.dash', teacher_id=current_teacher.id, block_id=b.id)}}">
                {{b.start_time|utc_to_local('%a, %d %b, %I:%M%p')}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <table class="table is-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Transfer</th>
          </tr>
        </thead>
        <tbody>
          {% for student, request in entries %}
            <tr>
              <th>{{strike_outgoing(student.id, student, request)}}</th>
              <td>
                {% if request %}
                  <b>{{strike_outgoing(student.name, student, request)}}</b>
                {% else %}
                  {{student.name}}
                {% endif %}
              </td>
              <td>
                <form action="./action/" method="post">
                  {% if request %}
                    <div class="field has-addons">
                      {% if request.destination_teacher == current_teacher %}
                        <div class="control">
                          <a class="button is-small is-info">From</a>
                        </div>
                        <div class="control">
                          <a class="button is-small"><b>{{student.home_teacher.name}}</b></a>
                        </div>
                      {% else %}
                        <div class="control">
                          <a class="button is-small is-danger">To</a>
                        </div>
                        <div class="control">
                          <a class="button is-small"><b>{{request.destination_teacher.name}}</b></a>
                        </div>
                      {% endif %}
                      {% if request.requester == current_teacher %}
                        {% if request.approved %}
                          <div class="control">
                            <a class="button is-small is-success is-light"><span>Approved</span></a>
                          </div>
                        {% else %}
                          <div class="control">
                            <a class="button is-small is-warning is-light">Pending approval</a>
                          </div>
                        {% endif %}
                      {% elif request.requester %}
                        {% if request.approved %}
                          <div class="control">
                            <a class="button is-small is-success is-light"><span>Approved by <b>me</b></span></a>
                          </div>
                        {% else %}
                          <div class="control">
                            <a class="button is-small is-info is-light">Needs approval</a>
                          </div>
                          <div class="control">
                            <button
                              type="submit"
                              name="approve"
                              value="{{student.id}}"
                              class="button is-small is-success is-outlined"
                            >
                              <span class="icon"><i class="fas fa-check"></i></span>
                            </button>
                          </div>
                        {% endif %}
                      {% endif %}
                      {% if not request.requester %}
                        <div class="control">
                          <a class="button is-small is-light">Automatic</a>
                        </div>
                      {% else %}
                        <div class="control">
                          <button
                            type="submit"
                            name="delete"
                            value="{{student.id}}"
                            class="button is-small has-text-grey is-outlined"
                          >
                            <span class="icon"><i class="fas fa-times"></i></span>
                          </button>
                        </div>
                      {% endif %}
                    </div>
                  {% else %}
                    <div class="field has-addons">
                      <div class="control">
                        <div class="select is-small">
                          <select name="teacher">
                            <option></option>
                            {% for teacher in teachers %}
                              <option value="{{teacher.id}}">{{teacher.name}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="control">
                        <button
                          type="submit"
                          name="push"
                          value="{{student.id}}"
                          class="button is-small is-outlined"
                        >
                          Request push
                        </button>
                      </div>
                    </div>
                  {% endif %}
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="./pull" class="button is-info">
        <span class="icon"><i class="fas fa-plus"></i></span>
        <span>Request a student from another homeroom</span>
      </a>
    </div>
  </section>
{% endblock %}
